@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

body {
    margin:0;
    font-family: 'PT Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 95vw;
    height: 100vh;
    background: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #EBB0BB;
    font-size: 2vw;
}

.image{
    width: 35vw;
}

.right-login{
    width: 45vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#FFD9E0;
    border-radius: 20px;
}

.card-login > h1 {
    color: #263238;
    font-weight: 600;
    margin:0;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.login {
    width: 80%;
    text-align: center;
}

.form-control > input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: #fff2f5 ;
    color: #263238;
    font-size: 10pt;
    outline: none;
    box-sizing: border-box;
}

.form-control > label {
    color: #263238;
    margin-bottom: 10px;
}

button{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #e68c85;
    background: #ffeff2;
    cursor: pointer;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-track{
    background-color: #ffbfcb;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background: #263238;
    border-radius: 30px;
}

@media only screen and (max-width: 950px){
    .main-login {
        width: 100%;
        height: 95vh;
    }
    .card-login{
        width:85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        width: 100%;
        flex-direction: column;
    }

    .left-login > h1 {
        font-size: medium;
    }
    .left-login {
        width:100%;
        height: auto;
        flex-direction: column;
    }

    .right-login {
        width:100%;
        height: auto;
    }

    .image{
        width:55vw;
    }

    .card-login{
        width: 90%;
    }
}